.Warninglevel {
    color:#Eeb66d;

  }

  .Errorlevel {
    color: #F34e10;

  }

  .error{
    text-decoration: wavy underline white;


  
  }
.segment{
  border: 1px solid #3c3c3c;
  border-radius: 4px;
  padding: 3px; /* Adds space between the content and the border */
  margin: 5px 0; /* Adds space between each segment */
}
.field{

  border: 1px solid #3c3c3c;
  border-radius: 4px;
  padding: 3px; /* Adds space between the content and the border */
  
}
.info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
}
.MSH{ background-color: #FF5733}
.EVN{background-color: #DAF7A6}
.PID{background-color: #FFC300}
.PV1{background-color: #ff3cc4}
.ORC{background-color: #C70039}
.OBR{background-color: #900C3F}
.OBX{background-color: #f8cfc6}
.NTE{background-color: #DAF7A6}
.DG1{background-color: #FFC300}
.IN1{background-color: #e93bb5}
.GT1{background-color: #C70039}
.AL1{background-color: #900C3F}
.TXA{background-color: #83726e}
.ARQ{background-color: #FFC0CB}
.BLG{background-color: #4682B4}
.CDM{background-color: #8A2BE2}
.CNS{background-color: #A52A2A}
.CON{background-color: #DEB887}
.CSR{background-color: #5F9EA0}
.CSS{background-color: #7FFF00}
.CTD{background-color: #D2691E}
.CTI{background-color: #FF7F50}
.DB1{background-color: #6495ED}
.DRG{background-color: #DC143C}
.DSC{background-color: #00FFFF}
.DSP{background-color: #00008B}
.EQL{background-color: #008B8B}
.ERQ{background-color: #B8860B}
.ERR{background-color: #A9A9A9}
.FAC{background-color: #006400}
.FT1{background-color: #BDB76B}
.FTS{background-color: #8B008B}
.NK1{background-color: #BDB76B}
.PD1{background-color: #ff71ff}
.SPM{background-color: #bfff71}
.RXE{background-color: #ff71ff}
.RXR{background-color: #8971ff}
.RXC{background-color: #ffec71}
.RXA{background-color: #71eeff}
.TQ1{background-color: #d9d3ff}
.SCH{background-color: #ff71ff}
.AIS{background-color: #71ffa3}
.AIG{background-color: #b2c3f9}
.AIL{background-color: #f2c7ac}
.AIP{background-color: #4efc2f}
.RGS{background-color: #71ffde}
.PV2{background-color: #ed831f}
.PR1{background-color: #c9c2f2}
.RXO{background-color: #e4f2c2}
.RXD{background-color: #9b9a9b}
.MSA{background-color: #e2c2f2}
.span-group {
  display: inline-block; /* Allows the group to flow inline but respect block styling */
  margin-right: 3px; /* Space between each group */
}
.note {
  display: block; /* Ensures the note appears on its own line within the group */
  font-size: smaller; /* Smaller font size for the note */
  font-weight: normal; /* Adjust weight if necessary */
  text-align: center; /* Center-aligns the note */
}
.main-content {
  display: block; /* Ensures the main content appears on its own line within the group */
  font-weight: bold; /* Bold for main content */
  text-align: center; /* Center-aligns the main content */
}
